	html {
	background-image: url(../images/html.gif);
	background-repeat: repeat-y;
	background-position: center top;
	margin: 0px;
	padding: 0px;
	background-color: #f7f5f5;
	}
	body {
	margin: 0;
	padding: 0;
	}
	
	h1 a {
	font-size: 22px;
	display: block;
	height: 50px;
	text-indent: -9999px;
		background-image: url(../images/header_section.gif);
		background-repeat: no-repeat;
		background-position: center top;
	}
	
	h2 {
	  font-size: 18px;
	  padding: 1em 0;
	  font-weight: bold;
	}
	
	h3 {
	font-size: 20px;
	padding: 1em 0;
	}
	
	ul {
	  margin: 1em 0;
	}
	
	p {
	line-height: 1.7;
	margin-top: 0em;
	margin-right: 0;
	margin-bottom: 1.5em;
	margin-left: 0;
	}
	
	em,
	strong {
	  font-weight: bold;
	}
	
	label {
	  font-weight: bold;
	}
	
	#header {
	width: 980px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	}
	#menu {
	margin: 0;
	padding-right: 0px;
	padding-left: 20px;
	clear: both;
	padding-bottom: 10px;
	padding-top: 5px;
	}
	
	#menu ul {
		margin: 0;
	}
	
	#menu ul li {
		display: inline;
		margin: 0;
		line-height: 25px;
		height: 25px;
	}
	
	#wrapper {
	clear: both;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 980px;
	}
	
	#main {
		margin-top: 0;
		margin-right: 20px;
		margin-bottom: 0;
		margin-left: 20px;
		padding-top: 20px;
	}
	
	#main ul {
	  margin: 1em 1.5em;
	  list-style: square;
	}
	
	#footer {
		width: 860px;
		text-align: center;
		padding-top: 3em;
		padding-right: 0;
		padding-bottom: 1em;
		padding-left: 0;
		margin-top: 0px;
		margin-right: auto;
		margin-bottom: 0px;
		margin-left: auto;
	}
	#header .eye_catch {
	height: 100px;
	clear: both;
	padding-right: 10px;
	padding-left: 15px;
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #05aff2;
	padding-bottom: 0px;
	padding-top: 0px;
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	background-image: url(../images/eye_catch.jpg);
	}
	body#index #header .eye_catch {
	height: 200px;
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #55abed;
	background-repeat: no-repeat;
	background-position: center center;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(../images/top_eye_catch.jpg);
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	clear: both;
	}
	
	#main .profile .data {
	float: right;
	width: 300px;
	font-size: 13px;
	margin-top: 10px;
	}
	#main .section {
	margin-bottom: 20px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	clear: both;
	}
	#main .profile .text {
	float: left;
	width: 590px;
	}
	.data dt {
		font-weight: bold;
		margin-bottom: 3px;
		color: #3776A9;
	}
	.data dd {
		margin-left: 1.2em;
		padding-bottom: 0.8em;
	}
	#main .profile .data dl {
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-left: 18px;
	border: 1px dotted #E6E6E6;
	}
	#header .eye_catch .information {
	float: right;
	width: 350px;
	height: 140px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 13px;
	}
	* html #header .eye_catch .information {
	width: 350px;
	height: 140px;
	padding-left: 0px;
	}
	#header .eye_catch .information .data {
	overflow: auto;
	display: block;
	height: 160px;
	}
	#header .eye_catch .information .data ul {
		margin: 0px;
	}
	#header .eye_catch .attention {
		clear: both;
		font-size: 13px;
		line-height: 21px;
		height: 50px;
		margin: 0px;
		padding-top: 10px;
	}
	#header .eye_catch .attention p {
		margin: 0px;
		padding: 0px;
	}
	#header .eye_catch .information h3 {
		font-size: 14px;
		line-height: 1px;
		font-weight: bold;
		margin: 0px;
	}
	#main .profile .text ul {
		font-size: 13px;
		margin-top: 10px;
		margin-bottom: 0px;
		padding-left: 20px;
		margin-left: 5px;
	}
	#main .profile .text li {
		margin-bottom: 8px;
	}
	#main .section h3 {
	line-height: 34px;
	padding-left: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #55ABED;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 3px;
	margin-bottom: 20px;
	display: block;
	margin-right: -10px;
	margin-left: -10px;
	font-weight: bold;
	color: #0d80ae;
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #55ABED;
	background-image: url(../images/main_section.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 34px;
	}
	#main .workshop p {
	line-height: 1.4;
	font-size: 13px;
	}
	#main .workshop ul {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
	}
	#main .workshop .workshop_description {
	width:370px;
	padding-right: 20px;
	padding-bottom: 15px;
	}


	.clear {
	clear: both;
	}

	.notice_message {
	  background: #eef;
	  padding: 10px 15px;
	  margin: 10px 0px;
	  border-top: solid 1px #00f;
	  border-bottom: solid 1px #00f;
	}

	.error_messages {
	  background: #fee;
	  padding: 10px 15px;
	  margin: 10px 0px;
	  border-top: solid 1px #f00;
	  border-bottom: solid 1px #f00;
	}
	
	.error_messages .title {
	  font-size: 18px;
	  font-weight: bold;
	}
	
	.error_messages ul {
	  padding-left: 20px;
	}
	#header {
	}
	#header div.attention {
	color: #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-right: 10px;
	margin-left: 10px;
	background-image: url(../images/attention.gif);
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
	clear: both;
	}
	#header div.attention p {
		font-size: 12px;
		line-height: 1.6;
		margin: 0px;
		padding: 0px;
	}
	#menu a {
	display: block;
	background-repeat: no-repeat;
	height: 35px;
	float: left;
	width: 232px;
	margin-right: 5px;
	font-size: 16px;
	line-height: 35px;
	background-image: url(../images/menu_a.gif);
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	}
	#menu a:link,
	#menu a:visited {
	background-position: left top;
	}
	#menu a:hover,
	#menu a:active {
	background-position: left bottom;
	}
	#header .eye_catch h2 {
	font-size: 32px;
	display: block;
	height: 200px;
	line-height: 100px;
	color: #FFFFFF;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	}
	#index #header .eye_catch h2 {
	float: left;
	width: 570px;
	text-indent: -9999px;
	}
	#main .section h4 {
	font-weight: bold;
	line-height: 1.4;
	font-size: 18px;
	margin-bottom: 0.8em;
	margin-top: 5px;
	}
	#header .bread_crambs {
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-right: 10px;
	margin-left: 10px;
	background-image: url(../images/attention.gif);
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
	}
	#header .bread_crambs li {
	display: inline;
	margin-right: 5px;
	}
	#header .bread_crambs li a {
	font-weight: normal;
	color: #FFFFFF;
	background-image: url(../images/bread_crumbs.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 20px;
	}
.float_right {
	float: right;
}
.float_left {
	float: left;
}
.data .float_right {
	float: right;
	width: 440px;
}
.data .float_left {
	width: 300px;
}
#main .workshop img {
	margin-bottom: 15px;
}
.block {
	display: block;
}
#main .workshop_description strong {
	display: block;
}
#main .seminor .float_left {
	text-align: center;
	padding-right: 20px;
	padding-bottom: 20px;
	font-size: 12px;
	padding-top: 10px;
}
#main .event_menu ul {
	margin: 0px;
	padding: 0px;
}
#main .event_menu li {
	display: inline;
}
#main .event_menu li a {
	margin-right: 18px;
	padding-left: 12px;
	background-image: url(../images/h4.gif);
	background-position: left center;
	background-repeat: no-repeat;
	white-space: nowrap;
	line-height: 3;
}



table.kids-workshop,
table.workshop,
table.time-schedule,
table.member {
	border-collapse: separate;
	border-spacing: 1px 1px;
	background-color: #fff;
	width: 100%;
	margin-bottom: 1.2em;
}

table.time-schedule th,
table.kids-workshop th,
table.workshop th,
table.time-schedule th,
table.member th {
	font-weight: bold;
	background-color: #bce0fc;
	font-size: 14px;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	color: #0d80ae;
	white-space: nowrap;
}

table.kids-workshop td,
table.workshop td,
table.time-schedule td,
table.member td {
	background-color: #f0f2f3;
	font-size: 13px;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	margin-bottom: 1.2em;
}

#lecture .float_left img {
  margin-right: 1em;
}
#main h4.arrow {
	line-height: 35px;
	background-image: url(../images/h3_arrow.gif);
	background-repeat: no-repeat;
	background-position: right center;
	height: 35px;
	width: 320px;
	padding-left: 10px;
}
#main .attention {
	font-size: 13px;
	font-weight: bold;
	color: #FFC103;
}
.time-schedule_title {
	background-image: url(../images/oyako_icon_description.gif);
	background-repeat: no-repeat;
	background-position: right;
	display: block;
	margin-right: 160px;
}
#schedule .time-schedule img {
	margin-right: 3px;
}
#workshop .workshop-description .title {
	width: 70%;
}
#workshop .workshop-description .data {
	width: 30%;
}
#workshop .workshop-description {
	width: 100%;
}
.workshop-description td {
	vertical-align: top;
}
.workshop-description th {
	font-weight: bold;
	background-color: #bce0fc;
	font-size: 14px;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	color: #0d80ae;
	white-space: nowrap;
}

.workshop-description td {
	background-color: #f0f2f3;
	font-size: 13px;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	margin-bottom: 1.2em;
}
.workshop-description {
	border-collapse: separate;
	border-spacing: 1px 1px;
	background-color: #fff;
	width: 100%;
	margin-bottom: 1.2em;
}
#workshop .workshop-description .description img {
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#main #workshop h4 {
	font-size: 14px;
}
#main #workshop h4 span {
	background-repeat: no-repeat;
	background-position: left center;
	cursor:pointer;
	width: 20px;
}
#main #workshop h4 .open {
	background-image: url(../images/open.gif);
}
#main #workshop h4 .close {
	background-image: url(../images/close.gif);
}

form {
    display: inline;
}

table.payment {
    margin: 0 0 20px 0;
}

table.payment td {
    font-size: 14px;
    padding: 10px 20px 0 0;
}

table.payment td.label {
    font-size: 14px;
}
