html {
	background-image: url(../images/html.png);
}
body {
	margin: 0;
	padding: 0;
}

h1 {
  float: left;
  font-size: 22px;
  margin: 0.8em 0;
}

h2 {
  font-size: 18px;
  padding: 1em 0;
}

h3 {
  font-size: 18px;
  padding: 1em 0;
}
ul {
  margin: 1em 0;
}

p {
  margin: 1em 0;
}

label {
  font-weight: bold;
}

#header {
	width: 860px;
	background: #fff;
	margin: 0 auto;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #C0C0C0;
	border-left-color: #C0C0C0;
}

#menu {
	float: right;
	background: #fff;
	width: 340px;
}

#menu ul {
  margin: 1em;
}

#menu ul li {
  display: inline;
  margin: 0 0.5em;
}

#wrapper {
	width: 860px;
	background: #fff;
	clear: both;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #C0C0C0;
	border-left-color: #C0C0C0;
}

#main {
	margin-top: 0;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 20px;
}

#main ul {
  margin: 1em 1.5em;
  list-style: square;
}

#footer {
	width: 860px;
	margin: auto;
	text-align: center;
	background: #fff;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C0C0C0;
	border-right-color: #C0C0C0;
	border-bottom-color: #C0C0C0;
	border-left-color: #C0C0C0;
	padding-top: 3em;
	padding-right: 0;
	padding-bottom: 1em;
	padding-left: 0;
}
#header .eye_catch {
	clear: both;
	height: 270px;
	background-color: #00CCCC;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
#main .profile .text {
	float: left;
	width: 450px;
}
#main .profile .data {
	float: right;
	width: 330px;
	font-size: 13px;
}
#main .section {
	clear: both;
	padding-top: 25px;
}
.data dt {
	font-weight: bold;
}
.data dd {
	margin-left: 1.2em;
	padding-bottom: 0.8em;
}
#main .profile .data dl {
	background-color: #ebe9f4;
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 2px;
	padding-left: 12px;
}
#header .eye_catch .information {
	float: right;
	width: 300px;
	background-color: #FFFFFF;
	padding: 10px;
	height: 190px;
}
#header .eye_catch .information .data {
	overflow: auto;
	display: block;
	height: 150px;
}
#header .eye_catch .attention {
	clear: both;
	font-size: 13px;
	line-height: 21px;
	height: 50px;
	margin: 0px;
	padding-top: 10px;
}
#header .eye_catch .attention p {
	margin: 0px;
	padding: 0px;
}
#header .eye_catch .information h3 {
	font-size: 14px;
	line-height: 1px;
	font-weight: bold;
	margin: 0px;
}
#main .profile .text ul {
	font-size: 13px;
	margin-top: 25px;
}
#main .section h3 {
	line-height: 1.3;
	border-left-width: 6px;
	border-left-style: solid;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0033CC;
	border-left-color: #0033CC;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	margin-bottom: 1.5em;
}
